h1 {
  text-align: center;
  background-color: rgb(60, 61, 61);
  font-family: "Roboto";
  font-weight: bolder;
  color: white;
  padding: 20px;
}

.tituloRegistro {
  padding-left: 23px;
  margin-bottom: 40px;
  font-family: "Roboto";
  background-color: rgb(60, 61, 61);
  width: 350px;
  border-radius: 5px;
  margin-left: 25px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
}

.colorTitulos {
  /* background-color: rgb(98, 100, 100); */
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 20px;
  color: black;
}
.probando {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  vertical-align: text-bottom;
  text-align: center;
  padding: 10px;
  margin-bottom: 60px;
  justify-content: space-evenly;
  margin-top: 150px;
}
.probando .topo {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.probando .topo .btnAbajoDos {
  font-family: "Roboto";
  width: 150px;
}
.probando .topo .pelotaSize,
.probando .topo .caballosSize,
.probando .topo .pokerSize {
  position: relative;
  width: 300px;
  height: 300px;
  text-align: center;
  display: block;
  margin: 40px 40px;
  transition: 1s ease;
  border-radius: 25px;
}
.probando .topo #pelota:hover,
.probando .topo #caballo:hover,
.probando .topo #cartas:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(1.15);
  transition: 1s ease;
}
.probando .topo .pcentrado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  width: 300px;
  font-size: large;
  font-weight: bold;
  line-height: 2.5;
  font-family: "Roboto", cursive;
}

.probando button {
  margin-top: 25px;
}

.formContacto {
  display: flex;
  justify-content: center;
  padding-left: 15px;
  width: 400px;
}

.registro {
  margin-top: 10px;
  margin-bottom: 80px;
  margin-left: 85px;
  padding: 25px;
  background-color: rgb(195, 200, 204);
  width: 450px;
  box-shadow: 0.5rem 0.5rem 0.2rem 0 #7e7e7e;
  border-radius: 15px;
}

.contenedorDos {
  position: relative;
  display: inline-block;
  text-align: center;
}

.onlineGames {
  width: 100%;
  margin-top: -10px;
}

.formText {
  display: flex;
  flex-direction: row;
  margin-right: -100px;
}

.textoInicial {
  font-family: "Roboto";
  padding-left: 20px;
  line-height: 2.5;
  text-align: center;
  width: 700px;
  margin-left: 200px;
  margin-bottom: 60px;
  padding-top: 90px;
}

.fuenteMake {
  font-size: 30px;
}

body {
  background-color: rgb(238, 241, 241);
}

h4 a {
  color: white;
  text-decoration: none;
}

h4 a:hover {
  text-decoration: underline;
  color: white;
}

.perfilCentrado1,
.perfilCentrado2,
.perfilCentrado3 {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.perfilCentrado1 .perfilDesign,
.perfilCentrado2 .perfilDesign,
.perfilCentrado3 .perfilDesign {
  display: flex;
  justify-content: center;
  padding: 35px;
  background-color: rgb(195, 200, 204);
  width: 80%;
  box-shadow: 0.125rem 0.125rem 0.25rem 0 #7e7e7e;
  border-radius: 25px;
}

.perfilCentrado1 .perfilDesign .btnPos,
.perfilCentrado2 .perfilDesign .btnPos,
.perfilCentrado3 .perfilDesign .btnPos {
  margin-top: 30px;
}

.eventosPrincipales {
  font-size: 30px;
  margin-bottom: 40px;
  padding-left: 85px;
  font-family: "Roboto";
  text-decoration: underline;
  margin-top: 50px;
}

footer {
  margin-top: 90px;
}

h2 {
  font-size: 30px;
}

.divsJuegos {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.presentation {
  font-family: "Roboto";
  line-height: 2.5;
  text-align: center;
  font-size: 18px;
}

.tituloWelcome {
  font-size: 22px;
  font-family: "Roboto";
  text-align: center;
  padding: 10px;
  background-color: rgb(60, 61, 61);
  border-radius: 5px;
  color: white;
  width: 380px;
}

.tituloWelcomeUnderAge {
  font-size: 22px;
  font-family: "Roboto";
  text-align: center;
  padding: 10px;
  background-color: red;
  border-radius: 5px;
  color: black;
  width: 380px;
  margin-top: 120px;
  margin-left: 10px;
}

.tituloWelcomeInvalidAge {
  font-size: 22px;
  font-family: "Roboto";
  text-align: center;
  padding: 10px;
  background-color: rgb(107, 114, 116);
  border-radius: 5px;
  color: rgb(243, 241, 241);
  width: 380px;
  margin-top: 120px;
  margin-left: 10px;
}

.valoresDeApuesta {
  list-style-type: none;
  line-height: 4;
  padding: 50px;
}

#categoriaApuesta {
  text-align: center;
}

#listaApuestasRealizadas {
  line-height: 3;
}

#montoTotalBet {
  display: flex;
  justify-content: flex-end;
  padding: 3px;
}

#montoSubtotalApuestas {
  padding: 3px;
}

#priceDiscount {
  padding: 3px;
}

.eventosPrincipales {
  font-size: 30px;
}

.filter {
  display: flex;
  flex-direction: column;
}

#filterButton {
  width: 200px;
}

.buttonDeleteAll,
.buttonConfirmAllBets {
  display: flex;
  justify-content: flex-end;
  padding-right: 45px;
}

.checkboxFilter {
  display: flex;
  flex-direction: row;
}

.dark-mode {
  background-color: black;
  color: white;
}

.darkModeButton {
  display: flex;
  justify-content: flex-end;
  margin-top: -30px;
}

#soccerBet,
#caballosBet,
#pokerBet {
  display: flex;
  justify-content: center;
  width: 75%;
  margin-left: 200px;
}

.soccerBetPrediction,
.caballosBetPrediction,
.pokerBetPrediction {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: "Roboto";
}

#confirmBet {
  margin-bottom: 20px;
}

#montoTotalBet {
  display: flex;
}

#montosApuestas {
  display: flex;
  justify-content: flex-end;
}

.madeBets {
  padding-bottom: 20px;
  padding-left: 20px;
  width: 400px;
  font-family: "Roboto";
}

#infoApuestas {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-family: "Roboto";
  padding: 20px;
}

#darkMode {
  --glow-color: rgb(215, 214, 216);
  --glow-spread-color: rgba(179, 151, 206, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(38, 31, 44);
  border: 0.25em solid var(--glow-color);
  padding: 0.5em 3em;
  color: var(--glow-color);
  font-size: 12px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
  line-height: 0.5;
}

#darkMode:after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}
#darkMode:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}

#darkMode:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}

/* From cssbuttons.io by @SanketSuryawanshi */
.main_div {
  --color: #3992e6;
  position: relative;
  z-index: 1;
  margin-top: 17px;
  width: 132px;
}

.main_div::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: transparent;
  top: -7px;
  left: -7px;
  z-index: -5;
  border-top: 3px solid var(--color);
  border-left: 3px solid var(--color);
  transition: 0.5s;
}

.main_div::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: transparent;
  bottom: -7px;
  right: -7px;
  z-index: -5;
  border-right: 3px solid var(--color);
  border-bottom: 3px solid var(--color);
  transition: 0.5s;
}

.main_div:hover::before {
  width: 100%;
  height: 100%;
}

.main_div:hover::after {
  width: 100%;
  height: 100%;
}

.main_div button {
  padding: 0.4em 1.5em;
  font-size: 16px;
  background: #222222;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.testRegister {
  display: flex;
  flex-direction: column;
}

#inputTime1 {
  width: 100px;
}

#bonoBienvenida {
  background-color: rgb(60, 61, 61);
  border-radius: 50%;
  height: 170px;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px auto;
  padding: 3%;
}

.bonoBienvenidaTexto {
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.test1 {
  display: flex;
}

.btnsCaballos {
  display: flex;
  flex-direction: column;
}

#divfiltroDeApuestas {
  padding-bottom: 20px;
  padding-left: 20px;
  width: 400px;
  font-family: "Roboto";
}

#caballosCompetencia {
  margin-left: 20px;
}
